@import "./prosemirror/scrollbar.css";
@import "./prosemirror/base.css";

@import "./prosemirror/nodes/heading.css";
@import "./prosemirror/nodes/code.css";
@import "./prosemirror/nodes/blockquote.css";
@import "./prosemirror/nodes/link.css";
@import "./prosemirror/nodes/list.css";
@import "./prosemirror/nodes/task-list.css";
@import "./prosemirror/nodes/table.css";
@import "./prosemirror/nodes/search.css";
@import "./prosemirror/nodes/mark.css";
@import "./prosemirror/nodes/ai-highlight.css";
@import "./prosemirror/nodes/hashtag.css";

@import "./prosemirror/dark.css";
@import "./prosemirror/mention.css";

.ProseMirror .is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: hsl(var(--muted-foreground));
  pointer-events: none;
  height: 0;
}

.ProseMirror .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: hsl(var(--muted-foreground));
  pointer-events: none;
  height: 0;
}

.ProseMirror .react-placeholder-widget {
  float: left;
  pointer-events: auto;
  user-select: none;
  height: 0;
  color: hsl(var(--muted-foreground));
}
