.prosemirror-editor-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.prosemirror-editor-root .prosemirror-editor {
  flex: 1 1 auto;
  min-height: 100%;
}

.prosemirror-editor {
  font-variant-ligatures: common-ligatures contextual;
  font-feature-settings: "liga" 1, "calt" 1;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  hyphens: auto;
  padding-bottom: 24px;
  caret-color: hsl(var(--primary));
  min-height: 100%;

  :first-child {
    margin-top: 0;
  }

  /* focus states */
  &:focus {
    outline: none;
    box-shadow: none;
  }

  p {
    margin-bottom: 0.25rem;
    text-wrap: wrap;
    line-height: 20px;
  }

  .node-image {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: visible;
  }

  > .node-image:first-child {
    padding-top: 0;
  }

  > .node-image:last-child {
    padding-bottom: 0;
  }

  .node-image.ProseMirror-selectednode,
  .node-session.ProseMirror-selectednode {
    outline: none;
  }

  .prosemirror-image {
    max-width: 100%;
    height: auto;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
  }
}
