.prosemirror-editor {
  a {
    color: hsl(var(--primary));
    cursor: text;
    text-decoration: underline;

    &.mention {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
    }

    &.mention:hover {
      color: inherit;
    }

    &.mention:hover::after,
    &.mention:hover::before {
      display: none;
    }

    &:hover {
      color: hsl(var(--recap-blue-hover));
      cursor: pointer;
    }
  }
}
