.prosemirror-editor {
  /* highlight */
  mark {
    background-color: hsl(var(--primary) / 0.25);
    border-radius: 0.4rem;
    box-decoration-break: clone;
    padding: 0.1rem 0.3rem;
    color: hsl(var(--foreground));
  }
}
